PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://mpmpvoyvjngqjtysslgt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wbXB2b3l2am5ncWp0eXNzbGd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NDkxMTgsImV4cCI6MjA5MjQyNTExOH0.z3Docpg9hn8WaqBhOfRWgS0seFOK-uJnVA7YFvJ0MGQ
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wbXB2b3l2am5ncWp0eXNzbGd0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg0OTExOCwiZXhwIjoyMDkyNDI1MTE4fQ.q4g3pLHrPEUOw-sIIxx5tj1FlnsZ0RUB1Zu6XdugKSc

# JWT
JWT_SECRET=jrxOGP7bULN2PXMQSuoTDfPY5uXfYSAIy8T7Z0FAg0xA3m97vtd7pAGlpmbr5z3OK3F3ulvZHWipTC1jSieyYcXeiCktAYe5I3dFg7ZDbmbG05M0xxOuwgRXcmdMeqUVumbeE0IkvMXDczzQyIsXAffOlKR8uflMtBvijzQ9tmlmyyRunTdhPId0L6f9bYwyJGkhnX7ef32sX2y6CQN9klePJb97NkfMAG6SjuWtN9PDfsxL2wZPkxZsbn1SI6fS
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# CORS
ALLOWED_ORIGINS=http://localhost:8081,exp://localhost:8081
